head
    title File Metadata Microservice
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')

    style
        include style.css
